.navMain  {
  list-style-type: none;   margin: 0;   padding: 0;
  overflow: hidden;   background-color: #333;
}

.nav  {float: left; border-right:1px solid #bbb; }
.nav:last-child {   border-right: none; }
.nav  a {
  display: block;   color: white;   text-align: center;
  padding: 14px 16px;   text-decoration: none;
}
.nav  a:hover:not(.active) {   background-color: #111; }
.active {   background-color: #04AA6D; }
  
 .NavButton {
  background-color: white; 
  border: none;  color: black;
  padding: 10px 16px;   text-align: center;
  text-decoration: none;   display: inline-block;
  font-size: 16px;   margin: 4px 2px;   cursor: pointer;
  border: 2px solid #e7e7e7;
}

[NavButtonSelected="1"] {border: 2px solid #4CAF50;}
